CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_PREFIX_DIR="${HOME}/x-tools/${CT_TARGET}"
CT_ARCH_ARM=y
CT_ARCH_CPU="arm926ej-s"
CT_OMIT_TARGET_VENDOR=y
CT_ARCH_BE=y
CT_ARCH_FLOAT_SW=y
CT_TARGET_CFLAGS="-mbig-endian"
CT_TARGET_LDFLAGS="-mbig-endian"
CT_TOOLCHAIN_PKGVERSION="UCraft-printer"
CT_TARGET_ALIAS="arm-eabi"
CT_BINUTILS_PLUGINS=y
CT_LIBC_PICOLIBC=y
CT_LIBC_PICOLIBC_TARGET_CFLAGS="-mbig-endian"
CT_LIBC_PICOLIBC_EXTRA_CONFIG_ARRAY="-Dtests=false"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-endian=big"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-initfini-array --with-endian=big"
